@use "../variables" as variables;
@use "../libs/normalize" as normalize;

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include normalize.noselect();

        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

.pizza-block__image--jump {
  animation: pizza-jump 0.5s cubic-bezier(0.4, 1.4, 0.6, 1) 1;
}

@keyframes pizza-jump {
  0% {
    transform: scale(1) translateY(0);
  }
  20% {
    transform: scale(1.1, 0.9) translateY(-10px);
  }
  40% {
    transform: scale(0.95, 1.05) translateY(-20px);
  }
  60% {
    transform: scale(1.05, 0.95) translateY(-10px);
  }
  80% {
    transform: scale(0.98, 1.02) translateY(-4px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
